
{% extends 'base.html' %}

{% block title %}About{% endblock %}


{% block name %}About{% endblock %}


{% block content %}


      </div>
      <!-- end banner -->
      <!-- about -->
      <div class="about">
         <div class="container_width">
            <div class="row d_flex grig">
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="{{about_list.img.url}}" alt="#"/>
                     </figure>
                  </div>
               </div>
               <div class="col-md-6 order">
                  <div class="titlepage text_align_left">
                     <h2>{{about_list.titl}}</h2>
                     <p>{{about_list.text}}</p>
                     <a class="read_more" href="about.html">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
 
{% endblock %}
